@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*<link href="/app/build/static/css/main.5f361e03.chunk.css" rel="stylesheet">*@

<div id="root"></div>

@section Scripts {
	<script src="app/scripts/react-runner.js"></script>
}